<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectStoreListCount">
		SELECT 
			   COUNT(*) count
		  FROM STORE
	</entry>
	
	<entry key="selectEnrollListCount">
		SELECT 
			   COUNT(*) count
		  FROM APPLICATION
	</entry>
	
	<entry key="memberListCount">
		SELECT
			  COUNT(*) count
		 FROM MEMBER
	</entry>
	
	<entry key="orderListCount">
		SELECT 
			   COUNT(*) count
		  FROM PRODUCT_ODR
		  JOIN KAKAO_PAYMENT ON ORDER_NO_K = ORDER_NO
		  JOIN MEMBER USING(USER_NO)
	</entry>
	
	<entry key="selectStoreList">
  SELECT *
    FROM
        (
        SELECT ROWNUM RNUM, A.*
          FROM
              (SELECT 
                      STORE_NAME
                    , STORE_NO
                    , STORE_PHONE
                    , TYPE_NAME AS type_name
                    , STORE_STATUS
                 FROM STORE
                 JOIN TYPE USING(STORE_TYPE)
                ORDER 
                   BY STORE_NO DESC)A
        )
    WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectEnrollList">
		  SELECT *
		    FROM
		        (
		        SELECT ROWNUM RNUM, A.*
		          FROM
		              (SELECT 
		                      APP_NO
		                    , USER_NO
		                    , STORE_TYPE
		                    , STORE_NAME
		                    , STORE_ADDRESS
		                    , STORE_PHONE
		                    , STORE_TIME
		                    , BUSINESS_NO
		                    , STORE_PRICE
		                    , APP_DATE
		                    , APP_YN
		                    , REFUSE
		                    , USER_NAME
		                    , TYPE_NAME
		                    , APP_TYPENAME
		                 FROM APPLICATION
		                 JOIN MEMBER USING(USER_NO)
		                 JOIN TYPE USING(STORE_TYPE)
		                 JOIN APP_TYPE USING(APP_YN)
		                ORDER 
		                   BY APP_NO DESC)A
		        )
		    WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectMemberList">
		SELECT *
		  FROM
		  	   (
				SELECT ROWNUM RNUM, A.*
				  FROM
					   (SELECT 
					  		   USER_NO
					 		 , USER_ID
							 , USER_PWD
							 , USER_NAME
							 , EMAIL
							 , PHONE
							 , ADDRESS
							 , USER_LEVEL
							 , ENROLL_DATE
							 , BALANCE
							 , BLACKLIST
							 , STATUS
						  FROM MEMBER
						 ORDER 
						    BY USER_NO DESC)A
				)
		WHERE RNUM BETWEEN ? AND ?			    
	</entry>
	
	<entry key="selectOrderList">
			  SELECT *
			    FROM
			        (
			        SELECT ROWNUM RNUM, A.*
			          FROM
			              (SELECT
			              		  USER_NO 
	 		                    , ORDER_QTY
	                            , ORDER_PRICE
	                            , TOTAL_PRICE
	                            , GIFT_YN
	                            , PAY_NO_K
	                            , PAY_DATE_K
	                            , PAY_COMPANY_K
	                            , USER_ID
	                            , USER_NAME
	                            , EMAIL
	                            , PHONE
			                 FROM PRODUCT_ODR
			                 JOIN KAKAO_PAYMENT ON ORDER_NO_K = ORDER_NO
			                 JOIN MEMBER USING(USER_NO)
			                ORDER 
			                   BY PAY_NO_K DESC)A
			        )
			    WHERE RNUM BETWEEN ? AND ?
	
	</entry>
	
	<entry key="selectEnrollStoreDetail">
	SELECT 
           APP_NO
         , USER_NO
         , STORE_TYPE
         , STORE_NAME
         , STORE_ADDRESS
         , STORE_PHONE
         , STORE_TIME
         , BUSINESS_NO
         , STORE_PRICE
         , APP_DATE
         , APP_YN
         , REFUSE
         , USER_NAME
         , TYPE_NAME
         , APP_TYPENAME
         , EMAIL
      FROM APPLICATION
      JOIN MEMBER USING(USER_NO)
      JOIN TYPE USING(STORE_TYPE)
      JOIN APP_TYPE USING(APP_YN)
      WHERE APP_NO = ?
      
	</entry>
	
	<entry key="selectOrderDetail">
	SELECT 
		   USER_NO
         , ORDER_QTY
         , ORDER_PRICE
         , TOTAL_PRICE
         , GIFT_YN
         , PAY_NO_K
         , PAY_DATE_K
         , PAY_COMPANY_K
         , USER_ID
         , USER_NAME
         , EMAIL
         , PHONE
	  FROM PRODUCT_ODR O
	  JOIN KAKAO_PAYMENT K ON K.ORDER_NO_K = O.ORDER_NO
	  JOIN MEMBER USING(USER_NO)
	 WHERE PAY_NO_K = ?
	</entry>
	
	<entry key="selectMemberDetail">
	   SELECT
			  USER_NO
			, USER_ID
			, USER_PWD
			, USER_NAME
			, EMAIL
			, PHONE
			, ADDRESS
			, USER_LEVEL
			, ENROLL_DATE
			, BALANCE
			, BLACKLIST
			, STATUS
		 FROM MEMBER
		WHERE USER_NO = ?
	
	</entry>
	
	<entry key="selectCategoryList">
 		  SELECT
		  		 STORE_TYPE
		  	   , TYPE_NAME
		    FROM TYPE
	</entry>
	
	<entry key="updateStore">
	UPDATE STORE
	   SET 
	       STORE_NAME = ?
	     , BUSINESS_NO = ?
	     , STORE_PHONE = ?
	     , STORE_ADDRESS = ?
	     , STORE_TYPE = ?
	     , STORE_TIME = ?
	     , STORE_PRICE = ?
	     , STORE_STATUS = ?
	 WHERE STORE_NO = ?
	
	</entry>
	
	<entry key="updateMember">
	 UPDATE MEMBER
	    SET
		  	USER_PWD = ?
		  ,	USER_NAME = ?
		  ,	EMAIL = ?
		  ,	PHONE = ?
		  ,	ADDRESS = ?
		  ,	BALANCE = ?
		  ,	STATUS = ?
	 WHERE USER_NO = ?
	</entry>
	
	<entry key="selectAppStoreImgAdmin">
		SELECT 
		       IMG_NO
		     , APP_NO  
		     , IMG_ROOT
		     , ORIGIN_NAME
		     , CHANGE_NAME
		     , STATUS
		  FROM APP_STORE_IMAGE
		 WHERE APP_NO = ?
	</entry>
	
	<entry key="insertAppToStore">
	INSERT 
	  INTO STORE
		   (
		    STORE_NO
		   ,STORE_NAME
		   ,STORE_TYPE
		   ,STORE_ADDRESS
		   ,STORE_PHONE
		   ,STORE_TIME
		   ,BUSINESS_NO
		   ,STORE_PRICE
		   ,STORE_STATUS
		   )
	 SELECT 
	        SEQ_STORE.NEXTVAL
	        ,A.STORE_NAME
	        ,A.STORE_TYPE
	        ,A.STORE_ADDRESS
	        ,A.STORE_PHONE
	        ,A.STORE_TIME
	        ,A.BUSINESS_NO
	        ,A.STORE_PRICE
	        ,'N'
	   FROM APPLICATION A
	  WHERE APP_NO = ?
	</entry>
	
	<entry key="insertAppImgToStoreImg">
	INSERT 
	  INTO STORE_IMAGE
	  (
	     IMG_NO
		,APP_NO
		,IMG_ROOT
		,ORIGIN_NAME
		,CHANGE_NAME
		,IMG_LEVEL
		,STATUS)
	SELECT STI_SEQ.NEXTVAL
	       ,A.APP_NO
		   ,A.IMG_ROOT
		   ,A.ORIGIN_NAME
		   ,A.CHANGE_NAME
		   ,A.IMG_LEVEL
		   ,A.STATUS
      FROM APP_STORE_IMAGE A
	 WHERE APP_NO = ?
	</entry>
	
	<entry key="updateAppTypeY">
	 UPDATE 
			(SELECT *
			FROM APP_TYPE
			JOIN APPLICATION USING (APP_YN))
	    SET APP_YN = 'Y'
      WHERE APP_NO = ?
	
	</entry>
	
	<entry key="updateEnrollRefuseAppType">
	UPDATE (SELECT *
      		  FROM APP_TYPE
              JOIN APPLICATION USING (APP_YN)
             )
       SET APP_YN = 'N'
          ,REFUSE = ?
     WHERE APP_NO = ?     
	</entry>
	
	<entry key="updateEnrollReRefuse"> 
   UPDATE APPLICATION
      SET REFUSE = ?
    WHERE APP_NO = ?
	</entry>
	
	<entry key="selectEnrollReRefuse">
	SELECT REFUSE
      FROM APP_TYPE
      JOIN APPLICATION USING (APP_YN)
     WHERE APP_NO = ?
	</entry>
	
	<entry key="selectTotalPriceSum">
    SELECT SUM(PAY_PRICE_K) sum
      FROM KAKAO_PAYMENT
     WHERE TO_DATE(PAY_DATE_K) = TRUNC(SYSDATE)
	</entry>
	
	<entry key="selectOrderCount">
	SELECT COUNT(*) count
      FROM KAKAO_PAYMENT
     WHERE TO_DATE(PAY_DATE_K) = TRUNC(SYSDATE)  
	</entry>
	
	<entry key="selectTotalStoreCount">
	SELECT COUNT(*) count
      FROM STORE
     WHERE STORE_STATUS ='N'
	</entry>
	
	<entry key="selectEnrollStoreCount">
	SELECT COUNT(*) count
      FROM APPLICATION
     WHERE APP_YN = 'P'
	</entry>

</properties>