<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectStoreListCount">
		SELECT 
			   COUNT(*) count
		  FROM STORE
		 WHERE STORE_STATUS = 'N'
	</entry>
	
	<entry key="selectStoreList">
  SELECT *
    FROM
        (
        SELECT ROWNUM RNUM, A.*
          FROM
              (SELECT 
                      STORE_NAME
                    , STORE_NO
                    , STORE_PHONE
                    , TYPE_NAME AS type_name
                 FROM STORE
                 JOIN TYPE USING(STORE_TYPE)
                WHERE STORE_STATUS = 'N'
                ORDER 
                   BY STORE_NO DESC)A
        )
    WHERE RNUM BETWEEN ? AND ?
	</entry>

</properties>