<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="enrollStore">
		INSERT
		  INTO APPLICATION
		  (
		    APP_NO
		  , USER_NO
		  , STORE_TYPE
		  , STORE_NAME
		  , STORE_ADDRESS
		  , STORE_PHONE
		  , STORE_TIME
		  , BUSINESS_NO
		  , STORE_PRICE
		  )
		  VALUES
		  (
		    APP_SEQ.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	<entry key="enrollStoreImg">
		INSERT
		  INTO APP_STORE_IMAGE
		  (
		    IMG_NO
		  , APP_NO
		  , IMG_ROOT
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , IMG_LEVEL
		  )
		  VALUES
		  (
		    ASI_SEQ.NEXTVAL
		  , APP_SEQ.CURRVAL
		  , ?
		  , ?
		  , ?
		  , 1
		  )
  </entry>
</properties>