<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	 <entry key="selectListCount">
 	SELECT 
 		   COUNT(*) AS "COUNT"
 	  FROM EVENT
 	  where TO_CHAR(EV_FIN, 'YYYYMMDD') >= TO_CHAR(SYSDATE, 'YYYYMMDD')	  
 </entry>
 
 <entry key="selectEventList">
 	SELECT *
	  FROM (SELECT 
	               ROWNUM as "RNUM", S.*
	          FROM (SELECT
					       *
			          FROM EVENT
			         where TO_CHAR(EV_FIN, 'YYYYMMDD') >= TO_CHAR(SYSDATE, 'YYYYMMDD')
			         ORDER 
			            BY EV_DATE desc) S)
	  WHERE RNUM BETWEEN ? AND ?
 </entry>
 
 
<entry key="selectFinListCount">
<![CDATA[
 	SELECT 
 		   COUNT(*) AS "COUNT"
 	  FROM EVENT
 	  where TO_CHAR(EV_FIN, 'YYYYMMDD') < TO_CHAR(SYSDATE, 'YYYYMMDD')
 	  ]]>	  
 </entry>
 
 <entry key="selectFinEventList">
 <![CDATA[
 	SELECT *
	  FROM (SELECT 
	               ROWNUM as "RNUM", S.*
	          FROM (SELECT
					       *
			          FROM EVENT
			         where TO_CHAR(EV_FIN, 'YYYYMMDD') < TO_CHAR(SYSDATE, 'YYYYMMDD')
			         ORDER 
			            BY EV_DATE desc) S)
	  WHERE RNUM BETWEEN ? AND ?
	  ]]>
 </entry>
 
 <entry key="selectEventDeail">
 	  SELECT 
 		   *
 	  FROM EVENT
 	  where EV_NO = ?
 </entry>
 
</properties>