<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="loginMember">
	SELECT
			USER_NO
		  , USER_ID
		  , USER_PWD
		  , USER_NAME
		  , EMAIL
		  , PHONE
		  , ADDRESS
		  , USER_LEVEL
		  , ENROLL_DATE
		  , BALANCE
		  , BLACKLIST
		  , STATUS
	FROM MEMBER
	WHERE USER_ID = ?
	  AND USER_PWD = ?
	  AND STATUS = 'Y'

</entry>
<entry key="searchMemberId">
SELECT SUBSTR(USER_ID,1,LENGTH(USER_ID)-3)||LPAD('*',3,'*') "USER_ID"
FROM MEMBER
WHERE USER_NAME = ?
  AND EMAIL = ?
  AND STATUS = 'Y'  
</entry>
<entry key="insertMember">
INSERT 
  INTO MEMBER
	 (
	   USER_NO
	 , USER_ID
	 , USER_PWD
	 , USER_NAME
	 , EMAIL
	 , PHONE
	 , ADDRESS
	 , USER_LEVEL)
VALUES
	 (
	   SEQ_MEM.NEXTVAL
	 , ?
	 , ?
	 , ?
	 , ?
	 , ?
	 , ?
	 , '브론즈')
</entry>
<entry key="idCheck">
SELECT
    COUNT(*) "COUNT"
 FROM MEMBER
 WHERE USER_ID = ?
</entry>


<entry key="memberCashSelect">
SELECT 
	   BALANCE
  FROM MEMBER
 WHERE USER_NO = ?
</entry>




<entry key="deleteMember">
UPDATE MEMBER
   SET STATUS = 'N'    
 WHERE USER_ID = ?
   AND USER_PWD = ?

</entry>
<entry key="selectMember">
SELECT
        USER_NO
      , USER_ID
      , USER_PWD
      , USER_NAME
      , EMAIL
      , PHONE	
      , ADDRESS
      , USER_LEVEL
      , ENROLL_DATE
      , BALANCE
      , BLACKLIST
      , STATUS
FROM MEMBER
WHERE USER_ID = ?
  AND STATUS = 'Y'
</entry>
<entry key="updatePwdMember">
UPDATE MEMBER
   SET USER_PWD = ?    
 WHERE USER_ID = ?
   AND USER_PWD = ?
</entry>
<entry key="searchMemberPwd">
SELECT
	USER_NO
FROM MEMBER
	WHERE USER_NAME = ?
	  AND USER_ID = ?
	  AND EMAIL = ?
</entry>
<entry key="updateNewPwdMember">
UPDATE MEMBER
	SET USER_PWD = ?
	WHERE USER_NO = ?
</entry>
<entry key="updateEmail">
UPDATE MEMBER
	SET EMAIL = ?
	WHERE USER_PWD = ?
</entry>
<entry key="updateAddress">
UPDATE MEMBER
	SET ADDRESS = ?
	WHERE USER_PWD = ?
</entry>
<entry key="memberStoreHistory">
SELECT USER_NO
FROM APPLICATION
</entry>
<entry key="selectStoreHistory">
SELECT APP_NO, USER_NO, STORE_TYPE, STORE_NAME, STORE_ADDRESS, STORE_PHONE, STORE_TIME, BUSINESS_NO, STORE_PRICE, APP_DATE, APP_YN, REFUSE
FROM APPLICATION
WHERE USER_NO = ?
</entry>
<entry key="bookMark">
SELECT DISTINCT USER_NO
FROM BOOKMARK
WHERE USER_NO = ?
</entry>
<entry key="getStoreInfo">
SELECT STORE_NO, STORE_NAME, STORE_TYPE, STORE_ADDRESS, STORE_PHONE, STORE_TIME, BUSINESS_NO, STORE_PRICE, STORE_STATUS
FROM STORE
JOIN BOOKMARK USING(STORE_NO)
WHERE USER_NO = ?
</entry>
</properties>


