<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<entry key="insertReview">
		INSERT 
		  INTO REVIEW
		  (
		    REVIEW_NO
		  , USER_NO
		  , STORE_NO
		  , CONTENT
		  , GRADE
		  )
		  VALUES
		  (
		    SEQ_REVNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="selectReview">
		SELECT
			  REVIEW_NO,
			  USER_ID,
			  CONTENT,
			  ISSUE_DATE,
			  GRADE,
			  (
			    SELECT LISTAGG(IMG_ROOT || CHANGE_NAME, ',') WITHIN GROUP (ORDER BY IMG_NO)
			    FROM REVIEW_IMAGE
			    WHERE REVIEW_IMAGE.REVIEW_NO = REVIEW.REVIEW_NO
			  ) AS IMAGES
			FROM REVIEW
			JOIN MEMBER USING (USER_NO)
			WHERE STORE_NO = ?
			ORDER BY REVIEW_NO DESC
	</entry>
	
	<!-- 리뷰등록 할 때 첨부한 사진이 있다면 이미지 INSERT -->
	<entry key="insertReviewImg">
		INSERT
		  INTO REVIEW_IMAGE
		  (
		    IMG_NO
		  , REVIEW_NO
		  , IMG_ROOT
		  , ORIGIN_NAME
		  , CHANGE_NAME
		  , IMG_LEVEL
		  )
		  VALUES
		  (
		    SEQ_REV_IMG_NO.NEXTVAL
		  , SEQ_REVNO.CURRVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	


</properties>