<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
 <entry key="selectListCount">
 	SELECT 
 		   COUNT(*) AS "COUNT"
 	  FROM STORE	  
 </entry>
 <entry key="selectKeywordListCount">
 	SELECT 
 		   COUNT(*) AS "COUNT"
 	  FROM STORE
 	 WHERE STORE_NAME LIKE ?
        OR STORE_ADDRESS LIKE ? 	  
 </entry>
 
 <entry key="selectStoreList">
 	SELECT *
	  FROM (SELECT 
	               ROWNUM as "RNUM", S.*
	          FROM (SELECT
					       STORE_NO
					     , STORE_NAME
					     , STORE_ADDRESS
					     , STORE_PHONE
			          FROM STORE
			         WHERE STORE_STATUS = 'N'
			         ORDER 
			            BY STORE_NAME) S)
	  WHERE RNUM BETWEEN ? AND ?
 </entry>
 <entry key="selectKeywordStoreList">
 	SELECT *
	  FROM (SELECT 
	               ROWNUM as "RNUM", S.*
	          FROM (SELECT
					       STORE_NO
					     , STORE_NAME
					     , STORE_ADDRESS
					     , STORE_PHONE
			          FROM STORE
			         WHERE STORE_STATUS = 'N'
			           AND STORE_NAME LIKE ?
                        OR STORE_ADDRESS LIKE ?
			         ORDER 
			            BY STORE_NAME) S)
	  WHERE RNUM BETWEEN ? AND ?
 </entry>
 
 
 
 
</properties>
